<!--raiis g でトップ用のコントローラを作成した時に-->
<!--自動作成される部分-->
<!--<h1>Top#index</h1>-->
<!--<p>Find me in app/views/top/index.html.erb</p>-->

<section class="main-header">
  <p class="flash"><%= notice %><%= alert %></p>
  <!--<img src="<%=asset_path "cake-001.jpg"%>">-->
</section>

<section class="about">
  <h1>About Sweeter</h1>
  <p>
     Sweeterは、甘いもの・お菓子に関する情報を集めるためのものです。<br>
     スィーツに限らず、お菓子に関する情報の投稿をお待ちしてます。
  </p>
  <p>
     お店で販売しているものは、そのお店３点まで、<br>
     スナック菓子類の場合、メーカーによる点数の制限はありません。
  </p>
</section>

<!--<section class="function">-->
<!--  <h1>Function</h1>-->
<!--    <div class="function-images">-->
<!--      <div class="function-image">-->
<!--        <img src="images-master/key.png">-->
<!--        <p>ログイン機能</p>-->
<!--      </div>-->
<!--      <div class="function-image">-->
<!--        <img src="images-master/mails.png">-->
<!--        <p>メール送信機能</p>-->
<!--      </div>-->
<!--      <div class="function-image">-->
<!--        <img src="images-master/girls.png">-->
<!--        <p>友達つながり機能</p>-->
<!--      </div>-->
<!--      <div class="function-image">-->
<!--        <img src="images-master/comment.png">-->
<!--        <p>コメント投稿機能</p>-->
<!--      </div>-->
<!--    </div>-->
<!--</section>-->

<!--<footer>-->
<!--  <p>運営会社DIVE INTO CODE株式会社</p>-->
<!--  <p>© 2015-2016 Copyright DIVE INTO CODE Corp.</p>-->
<!--</footer>-->
